.additional-section {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
  padding: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  min-height: 400px;
}

.additional-text {
  margin-right: 20px; 
}

.additional-text p {
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  white-space: pre-line; 
  text-align: left; 
}

.additional-image img {
  max-width: 500px; 
  height: auto;

}
