.feature-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #B9FF66; 
  min-height: 400px; 
  padding: 20px;
  width: 100%;
}

.feature-content {
  text-align: right;
  flex: 1; 
  padding-right: 120px; 
}

.feature-content h2 {
  font-weight: bold;
  font-size: 2.5rem;
  text-align: right;

}

.phones {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.phones img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; 
}
