.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background-color: #ffffff; 
  color: rgb(0, 0, 0); 
  padding: 10px 20px; 
  width: 100%;
}

.nav {
  display: flex;
  gap: 10px; 
}

.nav-button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
  background-color: transparent; 
  transition: background-color 0.3s, color 0.3s; 
}

.nav-button:hover {
  background-color: white; 
  color: #62ce1fca; 
}

.nav-button-register {
  border: 2px solid rgb(0, 0, 0); 
  border-radius: 8px; 
}