@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css o src/globals.css */
@import url('./assets/fonts/fonts.css');

:root {
  /* Definición de colores */
  --main-green: #B9FF66,
  --color-primary: #007bff;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  
  /* Definición de fuentes */
  --font-primary: 'SF-Pro', sans-serif;
  --font-secondary: 'SF-Pro-rounded-medium', serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-primary);
  color: var(--color-dark);
}

/* Clases de utilidad para colores */
.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }

/* Clases de utilidad para fuentes */
.font-primary { font-family: var(--font-primary); }
.font-secondary { font-family: var(--font-secondary); }
